.center a:hover {
  color: $grey--dark;
}
.front {
  &a:hover {
    color: $grey--dark;
  }
  &.span a:hover {
    color: $color__type;
  }
  .tags {
    margin-bottom: 0px;
  }
  /* Home Site Paragraph Spacing*/
  .center {
    .entry-content {
      margin:0 0 (2 * $line-height__base) 0;

      @media #{$mobile-large} {
        margin:0 0 $line-height__small 0;
      }
      @media #{$mobile-small} {
        margin:0 0 $line-height__small--stoneage 0;
      }
    }
  }
}
p {
  margin:0 0 $line-height__base 0;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  text-align: left;

  @media #{$mobile-large} {
    text-align: left;
    margin:0 0 $line-height__small 0;
  }
  @media #{$mobile-small} {
    text-align: left;
    margin:0 0 $line-height__small--stoneage 0;
  }
  &.meta--blog {
    font-style:italic;
    margin:0;
    text-align: left;

    &.detail {
      text-align:center;
      margin:0 0 $line-height__base 0;

      @media #{$mobile-large} {
        margin:0 0 $line-height__small 0;
      }
      @media #{$mobile-small} {
        margin:0 0 $line-height__small--stoneage 0;
      }
    }
  }
  &.message {
    margin:0 0 (3 * $line-height__base) 0;

    @media #{$mobile-large} {
      margin:0 0 (3 * $line-height__small) 0;
    }
    @media #{$mobile-small} {
      margin:0 0 (3 * $line-height__small--stoneage) 0;
    }
  }
}
b,
strong {
  font-weight: bold;
}
dfn,
em,
i {
  font-style: italic;
}
blockquote {
  padding: 0 (2 * $line-height__base) 0 (2 * $line-height__base);

  @media #{$mobile-large} {
    padding: 0 (2 * $line-height__small) 0 (2 * $line-height__small);
  }
  @media #{$mobile-medium} {
    padding: 0 $line-height__small 0 $line-height__small;
  }
  @media #{$mobile-small} {
    padding: 0 $line-height__small--stoneage 0 $line-height__small;
  }
}
address {
  margin: 0 0 $line-height__base;

  @media #{$mobile-large} {
    margin: 0 0 $line-height__small;
  }
}
pre {
  // overflow:auto;
  white-space: pre-wrap;
  margin-bottom: $line-height__base;
  max-width: 100%;

  @media #{$mobile-large} {
    margin-bottom: $line-height__small;
  }
}
code,
kbd,
tt,
var {
  font-family: $font__monospace;
}
abbr,
acronym {
  border-bottom: 1px dotted $color__type;
  cursor: help;
}
mark,
ins {
  background: #DADADA;
  text-decoration: none;
}
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  bottom: 1ex;
}
sub {
  top: .5ex;
}
a {
  &:link {
    color: $color__type;
  }
  &:visited {
    color: $color__type;
  }
  &:hover {
    color: $color__type;
  }
  &:active {
    color: $color__type;
  }
  &.custom {
    text-decoration: none;
  }
}
small {
  font-size: 75%;
}
big {
  font-size: 125%;
}
figure+p {
  margin-top:0;
  text-indent:0;
}
h1+time {
  margin-top:-$line-height__base;

  @media #{$mobile-large} {
    margin-top:-$line-height__small;
  }
  @media #{$mobile-large} {
    margin-top:-$line-height__small--stoneage;
  }
}
time {
  margin-bottom:$line-height__base;
  text-align:center;
  font-style:italic;
  display:block;

  @media #{$mobile-large} {
    margin-bottom:$line-height__small;
  }
  @media #{$mobile-small} {
    margin-bottom:$line-height__small--stoneage;
  }
}
.read-next-wrapper {
  text-align:right;

  .read-next {
    font-style:italic;
  }
}
.post-data {
  margin: 0 0 (2 * $line-height__base) 0;

  .tags {
    margin: 0 0 0 0;

    .tag a {
      font-style: italic;
      display: inline-block;
    }
  }
  .categories {
    span {
      display: inline-block;
    }
  }
}
.pagelink {
  text-decoration: none;
  text-align: center;
  display: block;

  a {
    @extend h3;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
  }
}
.custom-field {
  clear:left;

  dt {
    @extend h4;
  }
  dd {
    @extend h4;
    font-weight: normal;
  }
}
.entry-content {
  label {
    margin-left: 0px;
    text-indent: 0;
    @include vendor(border-radius, 0);

    input {
      @include vendor(border-radius, 0);
    }
  }
}
.teaser article {
  &:hover h2 a {
    color: $grey--dark;
  }
  &:hover p {
    color: $grey--dark;
  }
  &:hover h2 {
    color: $grey--dark;
  }
}
li.tile.tile-small:hover a {
  color: $grey--dark;
  p {
    color: $grey--dark;
  }
}

// Utility classes

.text-center {
  text-align: center;
}

.fake-small-caps {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: $font-size__base__fake-small-caps;
  line-height: $font-size__base__fake-small-caps;
  
  @media #{$mobile-large} {
    font-size: $font-size__small__fake-small-caps;
    line-height: $font-size__small__fake-small-caps;
  }
  @media #{$mobile-small} {
    font-size: $font-size__small__fake-small-caps;
    line-height: $font-size__small__fake-small-caps;
  }
}
