//==================================================
// Color palette
//==================================================

$grey:         #CCCCCC;
$grey--dark:   #7E7E7E;
$grey--soft:   #EEEEEE;

//==================================================
// Color usage
//==================================================

$color__type:         #222222;
$color__type--hover:  #404040;
$color__background:   #FDFDFD;