//==================================================
// Color palette
//==================================================
$grey: #cccccc;
$grey--dark: #7e7e7e;
$grey--soft: #eeeeee;
//==================================================
// Color usage
//==================================================
$color__type: #222222;
$color__type--hover: #404040;
$color__background: #fdfdfd;
