@import "lists";
@import "tables";

hr {
  background-color: $color__type;
  border: 0;
  height: 1px;
}
img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */

  @media #{$mobile-small} {
    float: none;
  }
}
.content, .post-content {
  figure {
    line-height: 0;
    padding: 0;
    margin-bottom: $line-height__base;
    display: block;
    text-align: center;

    @media #{$mobile-large} {
      margin-bottom: $line-height__small;
    }
    @media #{$mobile-small} {
      margin-bottom: $line-height__small--stoneage;
    }
    &.align-left {
      text-align: left;
    }
    &.align-center {
      text-align: center;
    }
    &.align-right {
      text-align: right;
    }
    figcaption {
      margin-top: ($line-height__base/2);
      @media #{$mobile-large} {
        margin-top: ($line-height__small/2);
      }
      @media #{$mobile-small} {
        margin-top: ($line-height__small--stoneage/2);
      }
    }
    /* wordpress auto-p */
    p {
      display: none;
    }
  }
  > a > img, > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $line-height__base;
  }
}
.more {
  color: inherit;
  
  &--click {
    display: inline;
    @media #{$mobile-large} {
      display: none;
    }
  }
  
  &--touch{
    display: none;
    @media #{$mobile-large} {
      display: inline;
    }
  }
  &__text {
    @extend .fake-small-caps;
    color: inherit;
    text-decoration: underline;
    
  }
}

article ol {
  list-style: decimal outside;

  @media #{$mobile-large} {
    list-style: decimal inside;
  }
}
article ul {
  list-style: disc outside;

  @media #{$mobile-large} {
    list-style: disc inside;
  }
}
