/* mood / hero module */
.mood {
  max-width: 1024px;
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin:0 0 (2 * $line-height__base) 0;

  @media #{$mobile-large} {
    margin:0 0 (2 * $line-height__small) 0;
  }
  @media #{$mobile-small} {
    margin:0 0 (2 * $line-height__small--stoneage) 0;
  }
  a {
    display:inline-block;
  }
  img {
    width: 100%;
  }
  .mood__aspect-ratio {
    height: auto;
    width: 100%;
  }
  .mood__image {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
  }
  &.mood--big {
    margin-left: auto;
    margin-right: auto;
  }
  &.mood--work {
    margin:0 0 $line-height__base 0;

    @media #{$mobile-large} {
      margin:0 0 $line-height__small 0;
    }
    @media #{$mobile-small} {
      margin:0 0 $line-height__small--stoneage 0;
    }

  }
  .mood__info {
    position: absolute;
    z-index: 9999;
    width: 100%;
    bottom: $line-height__base;
    left: 0px;

    @media #{$mobile-large} {
      bottom: $line-height__small;
    }
    @media #{$mobile-large} {
      bottom: $line-height__small--stoneage;
    }
  }
}

/* replaces mood on front page */
.front {
  & .mood.mood--big {
    max-height: 900px;
    margin-bottom: 0px;
  }

  & figcaption {
    text-align: right;
    font-style: italic;
    text-decoration: none;
    font-size: 14px;
    margin:0 0 (2 * $line-height__base) 0;

    a {
      text-decoration: none;
      font-size: 14px;
    }

    @media #{$tablet} {
      padding: 0 $line-height__small;
      margin: 0 0 (2 * $line-height__small) 0;
      text-align: center;
    }

    @media #{$mobile-medium} {
      text-align: center;
    }

    @media #{$mobile-small} {
      margin:0 0 (2 * $line-height__small--stoneage) 0;
      text-align: center;
    }
  }
  ul.tiles{
    overflow: hidden;

    li.tile {
      margin-bottom: 0;

      @media #{$tablet} {
        width: calc((100% - 27.2px)/2);
      }
      @media #{$mobile-medium} {
        width: 100%;
        margin-top:$line-height__small;
      }
      @media #{$mobile-small} {
        width: 100%;
        margin-top:$line-height__small--stoneage;
      }
      &:first-of-type {
        @media #{$mobile-medium} {
          margin-top:0;
        }
      }
    }
    li.tile-small:last-child{
      @media #{$tablet} {
        display: none;
      }
      @media #{$mobile-medium} {
        display: block;
      }
    }
    @media #{$tablet} {
      padding: 0 $line-height__small;
      margin-right:0;
      li.tile-small:nth-last-child(2) {
        margin-right: 0px;
      }
    }
  }
  ul.tags{
    margin-bottom: 0px;
  }
}
