.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.page-content,
.entry-content,
.comment-content {
  .attachment {
    a {
      img {
        margin-right: auto;
        margin-left: auto;
        display: block;
        width: 100%;
      }
    }
  }
}

/* Make sure embeds and iframes fit their containers */

embed,
iframe,
object {
  max-width: 100%;
  margin-bottom: $line-height__base;
  @media #{$mobile-large} {
    margin-bottom: $line-height__small;
  }
  @media #{$mobile-small} {
    margin-bottom: $line-height__small--stoneage;
  }
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/

@import "captions";

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/

@import "galleries";
